.legend {
  padding: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
